@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

:root {
  --logo-letter-size: 14rem;
  color-scheme: dark;
}

.stick-regular {
  font-family: "Stick", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

header {
  margin: auto;
  max-width: 110rem;
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

h1,
h2 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
}

div.title {
  justify-self: end;
}

div.subtitle {
  justify-self: start;
}

div.logo {
  display: grid;
  place-items: center;
  font-size: var(--logo-letter-size);
  width: 1.1em;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;

  > div.logo-text {
    font-weight: bold;
    line-height: 0.62;
    background-image: linear-gradient(
      to right,
      #db2f08 0% 12%,
      #fadc00 40%,
      #14d139 60%,
      #01a5db,
      #4e2370 90% 100%
    );
    background-clip: text;
    color: transparent;
  }
}
