@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

:root {
  --header-wrapper-max-width: 100%;
  --header-max-width: 110rem;
  --header-min-height: 100svh;
  --header-gap: 0;
  --header-font-size: 3rem;

  --logo-letter-size: 10rem;
  --logo-size: 1.4em;

  color-scheme: dark light;
}

body {
  margin: 0;
}

header {
  > .header-wrapper {
    font-family: "Stick", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    max-width: var(--header-max-width);
    min-height: var(--header-min-height);
    display: flex;
    gap: var(--header-gap);
    flex-direction: row;
    align-items: center;
    justify-items: center;

    > div {
      &.title,
      &.subtitle {
        flex: 1 0 0;

        & > h1,
        h2 {
          white-space: nowrap;
          font-size: var(--header-font-size);
          text-align: center;
          margin: 0;
        }
      }

      &.logo {
        flex: 0 0 var(--logo-size);
        display: grid;
        place-items: center;
        font-size: var(--logo-letter-size);
        aspect-ratio: 1;
        background-color: white;
        border-radius: 50%;

        > .logo-text {
          font-weight: bold;
          line-height: 0.62;
          background-image: linear-gradient(
            to right,
            #db2f08 0% 12%,
            #fadc00 40%,
            #14d139 60%,
            #01a5db,
            #4e2370 90% 100%
          );
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
